@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "_LayoutBackendEmpty";
    ViewData["Title"] = "Log in";
}


<!-- /.login-logo -->
<div class="login-box-body">
    <p class="login-box-msg">Connectez-vous pour gérer votre échec</p>

    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Email)" asp-for="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Password)" asp-for="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck" style="margin-left:20px;">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Connexion</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    @*
        <a href="#">I forgot my password</a><br>
        <a href="register.html" class="text-center">Register a new membership</a>
    *@
</div>
<!-- /.login-box-body -->
@*
    <p>
        <a asp-action="ForgotPassword">Forgot your password?</a>
    </p>
    <p>
        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
    </p>
*@